/*  =============
    Global Styles
    =============   */

:root {
    --lightpurple-color: #4A0E7A;
    --darkpurple-color: #3C155D;
    --secondary-color: #FF901E;
    --whiteish-color: #F9F9F9;
    --unhovered-color: grey;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bold {
    font-weight: bold;
}

:focus {
    outline: none;
}

/*  ==========
    Typography
    ==========  */

body {
    font-family: 'Roboto', Arial;
    font-size: 1.4em;
    font-weight: 120;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.8em;
    margin: 0;
    color: var(--secondary-color);
}

.nav-links {
    text-decoration: none;
    color: var(--whiteish-color);
}

.about-section p {
    margin: 0 4.5em;
}

/*  ======
    Layout
    ======  */

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--lightpurple-color);
    opacity: .9;
    padding: 1rem 0;
    z-index: 7;
    transition-duration: .8s;
    /*Hide on scroll*/
}

.logo-container {
    margin: 0 auto;
    display: flex;
    flex-basis: 400px;
    align-items: center;
    justify-content: center;
}

.header-img {
    max-width: 50%;
}

.nav-list {
    list-style-type: none;
    padding: 1em 0 0 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 4;
    justify-content: space-around;
    flex-basis: 500px;
}

.nav-links {
    position: relative;
}

.about-section {
    height: 100vh;
    text-align: center;
    background: var(--whiteish-color);
    box-shadow: inset 0 0 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.works-section {
    color: var(--whiteish-color);
    background: var(--darkpurple-color);
    padding: 2em;
    min-height: 100vh;
}

.works-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.work-picture {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.project-tile {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 568px;
    margin: 2em 0;
    position: relative;
}

.btn-code {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    color: var(--whiteish-color);
}

.project-tile h3 {
    margin: 0;
}

.hover-work {
    color: var(--secondary-color);
    opacity: 0;
}

#contact-section {
    box-shadow: inset 0 0 10px black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-icons {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-evenly;
}

.contact-icons>* {
    color: var(--unhovered-color);
    margin: 1em;
}

@media screen and (max-width: 600px) {
    .project-tile h3 {
        font-size: .8em;
    }
}

/*  =========
    Animation
    =========   */

@keyframes slideIn {
    from {}
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {}
    to {
        opacity: 1;
    }
}

.nav-links::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    bottom: -4px;
    transform: scaleX(0);
}

.nav-links::after {
    transform-origin: center;
    left: 0;
    right: 0;
    transition: all .5s;
}

.nav-links:hover::after, .nav-links:focus::after {
    transform: scaleX(1);
}

.header-img {
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}

.nav-items {
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

.nav-items:nth-child(1) {
    animation-delay: .5s;
}

.nav-items:nth-child(2) {
    animation-delay: 1s;
}

.nav-items:nth-child(3) {
    animation-delay: 1.5s;
}

.page-content {
    opacity: 0;
    animation: fadeIn 4s forwards;
    animation-delay: 2s;
}

.works-section a:hover, .works-section a:focus {
    opacity: 85%;
}

.fa-linkedin:hover, .fa-linkedin:focus {
    color: #0077B5;
}

.fa-whatsapp:hover, .fa-whatsapp:focus {
    color: #25D366;
}

.fa-twitter:hover, .fa-twitter:focus {
    color: #1DA1F2;
}

.fa-envelope:hover, .fa-envelope:focus {
    color: #F14336;
}

.fa-github:hover, .fa-github:focus {
    color: black;
}